*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

main{
    background-image: url("./img/bag.png") ;
    background-repeat: no-repeat;
    background-position: center;
      background-size: cover;
}
.banner-wraper>div>div:first-child h1{
    font-size:60px;
    font-weight: bold;
    
}
.text-dec{
    text-decoration: none;
}
a{
    text-decoration: none;

}
.header-wraper a{
    text-decoration: none ;
    color: white;
    font-weight: bold;
}
.banner-wraper>div>div:first-child{
   padding: 100px 15px;
}
.myself-section{
    background-image: url("./img/bg2.png");
    color: white;
    /* background-color: rgb(0, 0, 0); */
}

.banner-wraper>div>div:last-child img{

max-width: 75%;
object-fit: cover;

}
@media only screen and (max-width: 1000px) {
main{
    background-image: none;
    background-color: #000000   ;
}
.kalai-mob{
    justify-content: center;
    display:flex;
}

.banner-wraper>div>div:first-child{
    /* background-color: blueviolet; */
    order: 2;

}
.banner-wraper>div>div:last-child{
    /* background-color: blueviolet; */
    order: 1;
    

}
.banner-wraper>div>div:last-child img{
    /* background-color: blueviolet; */
    order: 1;
   max-width: 50%;
}
.non-dis{
    display: none;
}
.banner-wraper>div>div:first-child h1{
    color: white;
    font-size:45px;
    font-weight: bold;
    
}
.banner-wraper>div>div:first-child h3{
    color: white;
    /* font-size:40px; */
    font-weight: bold;
    
}
.banner-wraper>div>div:first-child{
   padding: 50px 40px;
}
.skill-logo-div >div h3{
    font-size: 12px;
}
.skill-logo-div img{
    max-width: 20%;
}
textarea {
  width: 620px;
  height: 150px;
}
input{
 width: 620px;
}

}

.backg{
    background-image: url("/img/back2.png");
        background-repeat: no-repeat;
    background-position: center;
      background-size: cover;
}
.skill-logo-div{
    width: 25%;


}
.skill-logo-div img{
    /* display: inline-block; */
    max-width: 20%;
}
.skill-logo-div h3{
   font-size: 20px;
}
.bg-col-dark{
    background-color: #1d1d1d;
}
.centered {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
    background-color: #000000c3;
    width: 500px;
    /* height: 25px; */
}

.contact-field{
    padding: 10px;
    background: transparent;
}
textarea {
  width: 620px;
  height: 150px;
}
input{
 width: 620px;
}
@media only screen and (max-width: 778px) {
    textarea {
  width: 320px;
  height: 150px;
}
input{
 width: 320px;
}
}

.service-box{
    height: 200px;
}